<div class="container mt-5 p-4 border rounded bg-stone-100">
  <h2 class="text-center mb-4">Customer´s Trip</h2>
  <form (ngSubmit)="bookTrip()">
    <div class="form-group mb-3">
      <label for="travelType">Travel Type</label>
      <select [(ngModel)]="trip.travelType" name="travelType" class="form-select" required>
        <option *ngFor="let tipo of travelTypes" [value]="tipo">{{ tipo }}</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="originCity">Origin City</label>
      <select [(ngModel)]="trip.originCity" name="ciudadOrigen" class="form-select" required>
        <option *ngFor="let ciudad of cities" [value]="ciudad">{{ ciudad }}</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="destinationCity">Destination City</label>
      <select [(ngModel)]="trip.destinationCity" name="destinationCity" class="form-select" required>
        <option *ngFor="let ciudad of cities" [value]="ciudad">{{ ciudad }}</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="startDate">Start Date</label>
      <input type="date" [(ngModel)]="trip.startDate" name="startDate" class="form-control" required>
    </div>

    <div class="form-group mb-3">
      <label for="returnDate">Return Date</label>
      <input type="date" [(ngModel)]="trip.returnDate" name="returnDate" [disabled]="trip.travelType === 'One Way'" class="form-control" required>
    </div>

    <div class="form-group mb-3">
      <label for="serviceType">Service Type</label>
      <select [(ngModel)]="trip.serviceType" name="serviceType" class="form-select" required>
        <option *ngFor="let servicio of serviceTypes" [value]="servicio">{{ servicio }}</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="costPerPerson">Cost Per Person </label>
      <input type="number" [(ngModel)]="trip.costPerPerson" name="costPerPerson" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">Book Trip</button>
  </form>
</div>
